body{

font-family: "Garamond" sans-serif ;
}


.top{
    
    font-family:"Garamond";
    text-align: left;
    font-size: 100%;
    font-weight: italic;
    color: dimgrey;
    padding: 0 1em 0 1em;
        
}
header {
	border-bottom: 0 solid #000; 
	padding-bottom: 45px;
	
	
}
header > h1 {
	display: inline-block;
    color: #383939; 
}
header span {
	margin-left:0;
   	font-size:0.9em;
}
#mydiv {
  font-variant-caps:titling-caps;
  font-size: 2em; 
  }
#contact{
    
    text-align: right;
    
}
#contact p{
    float: right;
    padding: 1em;
}
#NavBar{
    margin: 0;
    border-top: 1px solid #999999;
      border-bottom: 1px solid #999999;
}
#NavBar a:link{
    color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
    text-transform: uppercase;
}
#NavBar a:visited{
    color:gray;
}
#NavBar a:hover{
    color:goldenrod;
   
    
}
#NavBar ul li{
    display: inline;
    list-style: none;
}
.bodypart{
    
    text-align: center;
    color: gray;
    padding: 1em 4em;
     border-bottom:1px solid gray;
     font-style: italic;
}

.text
{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	height:125px;
	text-align: center;
	display:inline-block;
	padding: 0 2.5em;
	line-height: 25pt;
	font-size:30px;
	color: #1D1E1D;
}

.firstpart{
    padding: 20px 20px 0 20px;
    margin: 10px 10px 0 10px;
}
#slider{
    margin:0;
}
#container #thirdpart{
    display:block; 
    width:100%; 
    }

#container #thirdpart #services{
    padding:40px 0 30px 0; 
   
}

#container #thirdpart #services figure{
    display:inline; 
    float:left;
    margin:0;
}
#container #thirdpart #services strong{
    float:left; 
    margin:8px 0 0 5px; 
    padding:0; 
    font-size:14px; 
    font-weight:bold; 
    text-transform:uppercase;
}

#container #thirdpart #services p{
    display:block; 
    margin:0; 
    padding:5px 0 0 0; 
    clear:both;
    line-height:1.6em;
}
#container #thirdpart  a:link{
	 color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
    
}
#container #thirdpart a:visited{
    color:gray;
}
#container #thirdpart a:hover{
    color:goldenrod;   
}

.figs3{
    display:block; 
    float:left; 
    margin:0 30px 0 40px ;
    width:300px;
}

#container .readmore{
    text-align:right;
}
   
#Img #Indonecteus
{
	 border-bottom: 1px solid #999999;
	 padding-top:125px;
	
}
#Img figure
{
	display:inline-block;	
}

#shkrimi #About
{
	
	 border-bottom: 1px solid #999999;
	 padding:0;

}
#shkrimi figure 
{
	display:inline-block;	
}
#shkrimi a:link{
    color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
}
#shkrimi a:visited{
    color:gray;
}
#shkrimi a:hover{
    color:goldenrod;   
}

.block{    
  
  float: left;
  width: 25%;
  margin:0px;
  padding:0px;
  background-color: #242524;
  color:white;
   
}
ul{
    list-style-type: none;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}
#StaySocial a:link{
    color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
}
#StaySocial a:visited{
    color:gray;
}
#StaySocial a:hover{
    color:goldenrod;   
}
#FromBlock a:link{
    color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
}

#FromBlock a:visited{
    color:gray;
}
#FromBlock a:hover{
    color:goldenrod;   
}

#ContactDetails a:link{
    color: grey;
    padding: 1em;
    padding-left:  0px;
    text-decoration: none;
}
#ContactDetails a:visited{
    color:gray;
}
#ContactDetails a:hover{
    color:goldenrod;   
}
